---
import Layout from "../layouts/Layout.astro";
import LoginView from "../components/LoginView.astro";
import AppHeader from "../components/AppHeader.astro";
import OcclusionPanel from "../components/OcclusionPanel.astro";
import AddMarkerPanel from "../components/AddMarkerPanel.astro";
import MarkersPanel from "../components/MarkersPanel.astro";
import Toast from "../components/Toast.astro";

const API_BASE = "https://api.00224466.xyz/ffm-ar-data";
const API_KEY = import.meta.env.PUBLIC_API_KEY ?? "";
---
<Layout>
	<LoginView />

	<main id="app" class="wrap hidden">
		<AppHeader />
		<OcclusionPanel />
		<AddMarkerPanel />
		<MarkersPanel />
	</main>

	<Toast />

	<script is:inline define:vars={{ API_BASE, API_KEY }}>
		window.__APP_CONFIG__ = { API_BASE, API_KEY };
		try {
			var hasPw = !!(localStorage.getItem("ffm-ar-pw") || sessionStorage.getItem("ffm-ar-pw-session"));
			if (!hasPw) {
				var loginEl = document.getElementById("login");
				if (loginEl) loginEl.classList.remove("hidden");
			}
		} catch (e) {}
	</script>
	<script>
		import "../scripts/main.js";
	</script>
</Layout>

