---
import { icon } from "../scripts/icons.js";
---
<section class="panel">
	<div class="row" style="margin-bottom: 10px;">
		<h2 style="margin: 0;"><Fragment set:html={icon("list")} />Markers</h2>
		<div class="spacer"></div>
		<span id="count" class="muted"></span>
	</div>
	<div id="list"></div>
</section>

